<div [ngClass]="model.isEditMode ? 'todo-edit' : 'todo'" (contextmenu)="contextMenu($event)">
  <span class="todo-complete-action" *ngIf="!model.isEditMode" (click)="completeTodo()">
      <i class="material-icons md-24 mat-icon" style="cursor: pointer;" [style.color]="model.priority"></i>
  </span>

  <span class="todo-title" *ngIf="!model.isEditMode" (click)="toggleEditMode()">{{model.title}}</span>
  <mat-form-field style="width: 400px" *ngIf="model.isEditMode">
      <input matInput placeholder="Title" [ngModel]="model.title" (ngModelChange)="editTitle = $event">
  </mat-form-field>

  <span class="todo-duedate" *ngIf="!model.isEditMode" (click)="toggleEditMode()">{{model.date | date :"dd/MM/yyyy"}}</span>
  <mat-form-field style="width: 100px" *ngIf="model.isEditMode">
      <input matInput [matDatepicker]="picker" placeholder="Due date" [ngModel]="editDueDate" (ngModelChange)="editDueDate = $event">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <span style="margin-left: 8px;cursor: pointer;" [matMenuTriggerFor]="menu" *ngIf="!model.isEditMode">
      <i class="material-icons md-24">more_horiz</i>
  </span>
  <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="moveTodoUp()">Move up</button>
      <button mat-menu-item (click)="moveTodoDown()">Move down</button>
      <button mat-menu-item (click)="deleteTodo()">Delete</button>
      <div style="background: #c0c0c069; text-align: center;">
          <i class="material-icons md-24" style="cursor: pointer;" (click)="updateTodoPriority('black')">outlined_flag</i>
          <i class="material-icons md-24" style="color: yellow; cursor: pointer;" (click)="updateTodoPriority('yellow')">flag</i>
          <i class="material-icons md-24" style="color: orange; cursor: pointer;" (click)="updateTodoPriority('orange')">flag</i>
          <i class="material-icons md-24" style="color: red; cursor: pointer;" (click)="updateTodoPriority('red')">flag</i>
      </div>
  </mat-menu>

  <div *ngIf="model.isEditMode" style="margin-bottom: 15px;">
      <button mat-raised-button color="primary" (click)="saveEditMode()">Save</button>
      <button mat-button (click)="toggleEditMode()">Cancel</button>
  </div>
</div>
