<div *ngIf="addTodoMode" style="padding: 10px;">
  <mat-form-field style="width: 400px">
      <input matInput placeholder="Title" [(ngModel)]="title">
  </mat-form-field>
  <mat-form-field style="width: 100px">
      <input matInput [matDatepicker]="picker" placeholder="Due date" [(ngModel)]="_duedate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <br>
  <button mat-raised-button color="primary" (click)="addTodo()">Add Todo</button>
  <button mat-button (click)="addTodoMode = false">Cancel</button>
</div>

<div *ngIf="!addTodoMode" class="todo-add-wrapper" (click)="addTodoMode = true">
  <i class="material-icons md-24">add</i>
  <span style="vertical-align: super;">Add Todo</span>
</div>
