<div *ngIf="addTodoMode" class="todo">
  <mat-form-field class="todo__title">
      <input matInput placeholder="Title" [(ngModel)]="title">
  </mat-form-field>
  <mat-form-field class="todo__date">
      <input matInput [matDatepicker]="picker" placeholder="Due date" [(ngModel)]="_duedate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <br>
  <button mat-raised-button color="primary" (click)="addTodo()">Add Todo</button>
  <button mat-button (click)="addTodoMode = false">Cancel</button>
</div>

<div *ngIf="!addTodoMode" class="todo-add" (click)="addTodoMode = true">
  <i class="material-icons md-24">add</i>
  <span class="todo-add--super">Add Todo</span>
</div>
