<app-header></app-header>

<div class="app-container">
  <div class="menu">
    <div>
      <button type="button" class="menu-item" routerLink="/inbox">
        <i class="material-icons md-24" style="vertical-align: text-bottom;">inbox</i>
        Inbox
      </button>
    </div>
    <div>
      <button type="button" class="menu-item"  routerLink="/today">
        <i class="material-icons md-24" style="vertical-align: text-bottom;">today</i>
        Today
      </button>
    </div>
    <div>
      <button type="button" class="menu-item" routerLink="/next-seven-days">
        <i class="material-icons md-24" style="vertical-align: text-bottom;">filter_7</i>
        Next 7 days
      </button>
    </div>
  </div>
  <div class="todos-container">
    <router-outlet></router-outlet>
  </div>
</div>
