.app-container {
  width: 835px;
  margin: 0 auto;
}

.todos-container {
  float: left;
  width: 540px;
}

.menu {
  float: left;
  width: 250px;
}
.menu-item {
  background: none;
  border: none;
  padding: 10px;
  width: 100%;
  text-align: left;
  outline: none;

  &:hover {
    cursor: pointer;
    background-color: rgba(192, 192, 192, 0.445);
  }
}
