/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.header--big {
  margin-top: 5px;
  margin-left: 10px;
  font-size: 22px;
  display: inline-block;
}
.header--medium {
  margin-left: 10px;
  font-size: 18px;
  display: inline-block;
}
.header--small {
  font-size: 12px;
}
